body{

    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-size: 10px;
    font-family: 'Comic Sans MS', cursive, sans-serif;

}
.root{

display: flex;
flex-direction: column;
width: 100%;
height: auto;
gap: 1rem;

}

